@model List<Customer>
@{
    ViewData["Title"] = "GetCustomerByOrderDate";
}

<!DOCTYPE html>
<html>
<head>
    <title>Customers By order date</title>
</head>
<body>
    @if (Model.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>Customer Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.CustomerId</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No customers found.</p>
    }
</body>
</html>
